# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
* Python
* SQL
* R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* NumPy
* Keras
* SciPy

| Data Science Tools |
|------------------|
| R Studio |
| Apache Spark |
| Apache Hadoop |
| Tensor Flow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [13]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Vignesh M